.sideBar {
    position: relative;
    z-index: 100;
}

.navBar {
    position: relative;
    z-index: 10;
}

.addCustomerPage {
    margin-left: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    height: 100vh; 
}

.lblCustomer {
    text-align: left;
    font-weight: 600;
}

.frmAddCustomer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 400px;
    width: 100%; 
}

.btnSubmitCustomer {
    width: 195px;
    background-color: #394864;
    color: whitesmoke;
    border: none;
    height: 33px;
}

.btnClearCustomer {
    width: 195px;
    background-color: #394864;
    color: whitesmoke;
    border: none;
}

.btnClearCustomer:hover, .btnSubmitCustomer:hover {
    opacity: 70%;
}

.frmButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
}

.tdTotalOrders {
    text-align: center;
}
