.sideBar {
    position: relative;
    z-index: 100;
}

.navBar {
    position: relative;
    z-index: 10;
}

.customerPage {
    margin-left: 235px;
}

.customerTop {
    display: flex;
}

.btnAddCustomer {
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid rgb(110, 109, 136);
    border-radius: 3rem;
    box-sizing: border-box;
    color: rgb(93, 92, 116);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 40px 0 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    z-index: 1000;
    margin-left: 5rem; 
}

.btnAddCustomer:hover {
    background-color: rgb(93, 92, 116);
    color: white;
    opacity: 80%;
}

.addIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.tableContainer {
    overflow-x: auto;
}

.customerTable {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.customerTable th, .customerTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.customerTable th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.customerTable tr:nth-of-type(even) {
    background-color: #9b9898;
}

.customerTable tr:hover {
    background-color: #f1f1f1;
}

.customerTable td button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #b7babd;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.customerTable td button:hover {
    background-color: #4567ac;
}

.hr {
    margin-top: 40px;
}
