.home-page {
    text-align: center;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.vehicle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vehicle-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
}

.vehicle-photo {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.button-6 {
    align-items: center;
    z-index: 1000;
    background-color: #FFFFFF;
    border: 1.5px solid rgb(44, 42, 42);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 200;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgb(35, 60, 204);
    color: rgb(47, 72, 212);
  }

  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }