.container {
    display: flex;
    margin: 0;
    padding: 0;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: -1;
}

.content {
    flex-grow: 1;
}

.addSearchSection{
    display: flex;
    margin-left: 235px;
    justify-content: space-evenly;
}

