/* Apply styles for text and password input fields */
.input {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  padding: 12px 20px;
  margin: 8px 0;
}

/* Apply styles for buttons */
.button {
  background-color: #4e5e80;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; 
  box-sizing: border-box; 
  padding: 14px 20px;
}

.button:hover {
  opacity: 0.8;
}

/* Apply styles for labels */
.label {
  text-align: left;
  font-size: 15px;
  font-weight: 650;
  display: block; 
}

/* Apply styles for the container */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Apply styles for input groups */
.inputGroup {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Apply styles for login and register button container */
.loginRegister {
  display: flex;
  gap: 2px;
}

.loginRegister .button {
  flex: 1; 
  margin: 0; 
}

/* Apply styles for title */
.title {
  margin-top: 10rem;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/* Apply styles for login wrapper */
.loginWrapper {
  margin: 0 auto; /* Center the wrapper */
}

/* Apply styles for login input box */
.loginInputBox {
  height: 2.5rem;
}


@media screen and (max-width: 1200px) {

  .container {
    width: 40%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 900px) {
 
  .container {

    width: 55%;
    margin: 0 auto;

  }
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
