/* PriceFilter.module.css */
.priceFilter {
    margin: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content {
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2%;
    margin-top: 10px;
}

.input:last-of-type {
    margin-right: 0;
}
