.registerContainer {
    box-sizing: border-box; 
    width: 80%; 
    max-width: 600px; 
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    padding: 2rem;
}

h1 {
    text-align: center; 
    padding-bottom: 1rem;
}

form {
    display: grid;
    gap: 0.25rem;
}



.registerButtons {
    display: flex;
    gap: 0.5rem;
    margin-top: 8px;
    height: 2.5rem;
    
}

.registerInputBox{
    height: 2.5rem;
}

.button{
    background-color: #4e5e80;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

.button:hover{
    opacity: 50%;
}

.label{
    text-align: left;
    font-weight: 600;
}

@media (max-width: 600px) {
    .registerContainer {
        width: 100%; 
        padding: 1rem; 
    }
}
