.body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.vin-form {
    text-align: center;
    margin-bottom: 20px;
}

.input-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.vin-input {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    box-sizing: border-box;
    height: 48px; 
    width: 50%;
}

.button-6 {
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: #fff;
    border-radius: 0px;
    border: 0.5px solid #969090;
    box-sizing: border-box;
    color: #6b6666;
    cursor: pointer;
    display: inline-flex;
    fill: #706d6d;
    font-size: 16px;
    height: 48px;
    font-weight: 200;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-6:focus {
    color: #5b5d61;
}

.button-6:hover {
    border-radius: 0px;
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-6:active {
    border-color: rgb(0, 162, 255);
    color: rgb(0, 162, 255);
    fill: rgb(0, 162, 255);
}

@media (min-width: 768px) {
    .button-6 {
        min-width: 170px;
    }
}
