.photo-upload-container {
    text-align: center;
    margin: 20px 0;
}

#photo-upload {
    margin: 10px 0;

}

.photo-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-item {
    position: relative;
    margin: 5px;
}

.photo-item img {
    width: auto;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.photo-item button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(224, 88, 88, 0.7);
    border: none;
    color: white;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 3px;
}

.photo-item button:hover {
    background: rgb(216, 27, 27);
}

.photo-upload-container input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.photo-upload-container label {
    background-color: #4e5e80;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.photo-upload-container label:hover {
    background-color: #3e4e70;
}

.photo-upload-container label img#upload {
    width: 20px !important;
    height: 20px !important;
}
