.sideBar {
    position: relative;
    z-index: 100;
}

.navBar {
    position: relative;
    z-index: 10;
}

.customerPage {
    margin-left: 255px;
}

.customerTop {
    display: flex;
}

.btnAddCustomer {
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid rgb(110, 109, 136);
    border-radius: 3rem;
    box-sizing: border-box;
    color: rgb(93, 92, 116);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 20px 0 0;
    min-height: 3rem;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 190px;
    height: 60px;
    z-index: 1000;
    margin-left: 5rem; 
}

.btnAddCustomer:hover {
    background-color: rgb(93, 92, 116);
    color: white;
    opacity: 80%;
}

.addIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.tableContainer {
    overflow-x: auto;
}

.customerTable {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.customerTable th, .customerTable td {
    padding: 12px 15px;
    text-align: left;
}

.customerTable th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.customerTable tr:nth-of-type(even) {
    background-color: rgba(167, 147, 147, 0.288);
}

.customerTable tr:hover {
    background-color: #d8ddd6f3;
}

.customerTable td button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.customerTable td button:hover {
    background-color: rgb(200, 211, 148); 
}

.hr {
    margin-top: 40px;
}

.editIcon, .deleteIcon{
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-bottom: 5px;
}

.btnEdit, .btnDelete{
    background-color: transparent;
    border: none; 
    cursor: pointer;
    margin: 0 5px; 
}

.btnEdit:hover{
    background-color: rgb(66, 61, 110); 

}

.btnDelete:hover{
    background-color: rgb(139, 55, 55); 

}





.actionIcons {
    background-color: transparent;

    display: flex;
    align-items: center;
}

.actionTitle{
    display: flex;
    justify-content: space-evenly;
}