.mainContent{
    margin-left: 255px;
}

.sideBar{
    position: relative;
    z-index: 1000;
}

.navBar{
    position: relative;
    z-index: 100;
}

.monthlyNumbers, .annualNumbers{
 display: flex;
 height: 100%;
 width: 200px;
 min-width: 180px;
 height: 250px;
 flex-direction: column;
 justify-content: space-evenly;
 border: solid 2px #ccc;
 border-radius: 10px;
 background-color: #eeecec;
}

.mainContent{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10rem;
}

.btnViewMonthly, .btnViewYearly{
    background-color: #e77094;
    border: none;
    border-radius: 20px;
    padding: 8px 0;
    margin: 0 8px;
}

.annualSales{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.annualGraph {
    width: 500px;
    height: 100%;
  }
  