.homePage {
    text-align: center;
    padding: 20px;
}

.searchForm {
    margin-bottom: 20px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdownSelect {
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.yearDropdown {
    width: 10%;
}

.makeModelDropdown {
    width: 22%;
}

.button6 {
    align-items: center;
    z-index: 1000;
    background-color: #FFFFFF;
    border: 1.5px solid rgb(75, 72, 72);
    border-radius: .45rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(65, 63, 63, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 200;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    height: 2rem;
    width: 45%;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}
  
.button6:hover,
.button6:focus {
    border-color: rgb(35, 60, 204);
    color: rgb(47, 72, 212);
}

.button6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.editDeleteButtons{
    display: flex;
    flex-direction: row;
}

.button7{
    background-color: #FFFFFF;
    border: 1.5px solid rgb(75, 72, 72);
    border-radius: .45rem;
    margin: 0 16rem 0;   
    margin-top: 1rem; 
}

.button4 {
    align-items: center;
    z-index: 1000;
    background-color: #FFFFFF;
    border: 1.5px solid rgb(75, 72, 72);
    border-radius: .45rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(65, 63, 63, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 200;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    height: 2rem;
    width: 45%;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    margin-left: 4px;
}
  
.button4:hover,
.button4:focus {
    border-color: rgb(35, 60, 204);
    color: rgb(47, 72, 212);
}

.button4:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.inputField,
.selectField,
.button6 {
    padding: 11px;
    font-size: 16px;
}

.vehicleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vehicleItem {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
}

.vehiclePhoto {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container{
    margin-left: 255px;
}