.container {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.searchForm {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    position: relative;
}

.addSearchSection {
    display: flex;
    margin-left: 255px;
}

.addSection {
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.buttonAdd:hover {
    background-color: rgb(93, 92, 116);
    color: white;
    opacity: 80%;
}

.addIcon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.addIcon:hover {
    fill: white;
}

.makeModelDropdown {
    position: relative;
    display: block;
    width: 350px;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
}

.btnSearchFilter {
    padding: 10px;
    border: 1px solid #ccc8c8;
    border-radius: 4px;
    background-color: #fdfbfbc5;
}

.btnSearchFilter:hover {
    background-color: #b3afafe0;
}

.svgList {
    width: 30px;
    height: 30px;
}

.svgGrid {
    width: 30px;
    height: 30px;
}

.buttonAdd {
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid rgb(110, 109, 136);
    border-radius: 3rem;
    box-sizing: border-box;
    color: rgb(93, 92, 116);
    cursor: pointer;
    display: inline-flex;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    margin-left: 300px;
    margin-bottom: 19px;
    margin-top: 4px;
    width: 180px;
    min-width: 180px;
    height: 60px;
    z-index: 1000; 
}

.btnList {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    display: inline-flex;
    justify-content: center;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 8px 0 0 8px;
    padding: 9px;
}

.displayToggle {
    position: absolute;
    top: 8px;
    right: 100px;
}

.btnGrid {
    align-items: center;
    background-color: #FFFFFF;
    border: none;
    display: inline-flex;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 0 8px 8px 0;
    padding: 9px;
}

.btnGrid:hover {
    background-color: #ccc;
}

.btnList:hover {
    background-color: #ccc;
}

.topButtons {
    display: flex;
    justify-content: space-between;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.th, .td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.th {
    background-color: #f2f2f2;
    font-weight: bold;
    
}

tbody tr:nth-child(even) {
    background-color: #f0e9e9;
}

.thStock {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.hr{
    position: relative;
    z-index: -1;
}

.editIcon, .deleteIcon{
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-bottom: 5px;
    
}

.btnEdit, .btnDelete{
    background-color: transparent;
    border: none; 
    cursor: pointer;
    margin: 0 5px; 
    padding: 3px 5px;

}

.btnEdit:hover{
    background-color: rgb(180, 175, 224); 
    border-radius: 8px;
    padding: 3px 5px;
}

.btnDelete:hover{
    background-color: rgb(218, 154, 154); 
    border-radius: 8px;
    padding: 3px 5px;
}

.iconFilter{
    height: 54px;
    width: 48px;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 10px 0 0 10px ;
    padding: 10px;
    margin-bottom: 20px;
}

.filter{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    font-weight: 600;
    height: 54px;
    top: 8px;
    right: 240px;
}



.iconArrow {
    height: 22px;
    width: 28px;
    transition: transform 0.3s ease;
    background-color: transparent;
    border-right: none;
}

.btnArrow{
    background-color: transparent;
    border: none;
    border: 2px solid #ccc;
    padding: 2px 8px 2px 8px;
    border-radius: 0 10px 10px 0;
}

.filterSelect{
    display: flex;
    background-color: transparent;
    border: 2px solid #ccc;
    font-weight: 600;
    border-right: none;
    padding-bottom: 2px;

}

.filterSelect:hover{
    cursor: pointer;
    background-color: #ccc;
}

.btnArrow:hover{
    background-color: #ccc;
}

.iconArrow.rotated {
    transform: rotate(180deg);
}

.btnList.active, .btnGrid.active {
    background-color: #ccc;
}

.btnUnsold, .btnSold, .btnAll{
    background-color: transparent;
    border-radius: 10px;
    width: 90px;
    border: none;
    height: 38px;
    font-size: 16px;
    font-weight: 550;
    margin: 5px;
    margin-top: 6px;
}

.btnUnsold:hover, .btnSold:hover, .btnAll:hover{
    background-color: #969494;
    border: 2px solid #969494;
    color: white;
}

.soldFilter{
    border: 2px solid #ccc;
    height: 56px;
    border-radius: 14px;
    width: 304px;
    position: absolute;
    top: 8px;
    right: 715px;
}

.btnAll.active, .btnSold.active, .btnUnsold.active {
    background-color: #ccc;
    border: 2px solid #ccc;
    color: black;
}

@media only screen and (max-width: 1650px) {
    .soldFilter{
        right: 550px;
    }
}

@media only screen and (max-width: 1450px) {
    .soldFilter{
        right: 450px;
    }
}