/* Neumorphism styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  padding-left: 255px;
  background-color: #F5F5F5;
  padding-top: 25px;
}

.leaseForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  padding: 35px 20px 45px 20px;
  background-color: #EEEEEE;
  margin-top: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.7);
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.formGroup label {
  color: #000000;
  margin-bottom: 10px;
  font-weight: bold;
}

.formGroup input[type="number"] {
  width: calc(100% - 40px);
  margin: 0 20px;
  height: 30px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #EEEEEE;
  box-shadow: inset 6px 6px 16px 0 rgba(209, 205, 199, .5), inset -6px -6px 16px 0 rgba(255, 255, 255, .5);
  color: #000000;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

.button {
  border: none;
  border-radius: 50px;
  width: 48%;
  padding: 15px;
  background-color: #EEEEEE;
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
  color: #000000;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #e0e0e0;
}

.paymentTable {
  text-align: center;
  margin-top: 20px;
  color: #000000;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.paymentTable th, .paymentTable td {
  padding: 20px 10px 0 10px;
}

.paymentTable td{
  padding-bottom: 50px;
}

.h1, .h2 {
  color: #333;
  font-weight: bold;
}

.h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(187, 177, 177);
}

.h2 {
  margin-top: 30px;
}

.sideBar {
  position: relative;
  z-index: 1000;
}

.navBar {
  position: relative;
  z-index: 100;
}

