.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.leaseForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px 0 25px 0 ;
    padding-left: 255;
    background-color: #d4cece;
}

.sideBar{
    position: relative;
    z-index: 1000;  
}
.navBar{
    position: relative;
    z-index: 100;
}

.leaseButtons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 4px;
}

.btnClear, .btnCalculate{
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 48%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

.btnClear:hover, .btnCalculate:hover{
    background-color: #c7bebe;
    color: #000000;
    cursor: pointer;
}

.leaseInput{
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #000000;
}