.sideBar {
    position: relative;
    z-index: 1000;
}

.navBar {
    position: relative;
    z-index: 100;
}

.sendSmsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    min-width: 500px;
    margin: 20px auto 20px auto;
}

.sendEmailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    min-width: 500px;
    margin: 20px auto 20px auto;
}

.marketingContainer {
    display: flex;
    margin-left: 255px;
    justify-content: space-around;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.phoneNumberInput {
    display: flex;
    margin-bottom: 10px;
}

.phoneNumberInput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.phoneNumberInput button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.phoneNumberInput button:hover {
    background-color: #218838;
}

.phoneNumbersList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.phoneNumberItem {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
}

.closeButton {
    display: none;
    position: absolute;
    top: -8px; 
    right: -8px; 
    background-color: red;
    color: white;
    border: none;
    border-radius: 15%; 
    width: 18px;
    height: 18px;
    padding-bottom: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.phoneNumberItem:hover .closeButton {
    display: flex;
}

.sendButton {
    padding: 10px 20px;
    border: none;
    background-color: #f3f3f3;
    color: #0f0e0e;
    border-radius: 4px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #454647;
    color: white;
}

.marketingIcons {
    width: 50px;
    height: 50px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.marketingButtons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.sendButton{
    width: 100px;
}