.sideBar{
    position: relative;
    z-index: 1000;  
}
.navBar{
    position: relative;
    z-index: 100;
}

.header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}

.buttonAdd {
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid rgb(110, 109, 136);
    border-radius: 3rem;
    box-sizing: border-box;
    color: rgb(93, 92, 116);
    cursor: pointer;
    display: inline-flex;
    font-size: 17px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    margin-left: 300px;
    margin-bottom: 19px;
    margin-top: 2px;
    width: 180px;
    height: 60px;
    z-index: 1000; 
}

.buttonAdd:hover {
    background-color: rgb(93, 92, 116);
    color: white;
    opacity: 80%;
}

.addIcon{
    width: 22px;
    height: 22px;
    margin-top: 2px;
    margin-right: 4px;
}

.tableSection{
    margin-left: 255px;
    overflow-x: auto;
}

.orderTable{
    padding-left: 80px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.orderTable th, .orderTable td {
    padding: 8px;
    text-align: center;
}

.orderTable th{
    background-color: #f4f4f4;
}

.orderTable tr:hover {
    background-color: #ddd;
}

.orderTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.editIcon, .deleteIcon{
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-bottom: 5px;
    
}

.btnEdit, .btnDelete{
    background-color: transparent;
    border: none; 
    cursor: pointer;
    margin: 0 5px; 
    padding: 3px 5px;
}

.editIcon{
    margin-top: 4px;
}

.btnEdit:hover{
    background-color: rgb(180, 175, 224); 
    border-radius: 8px;
    padding: 3px 5px;
    
}

.btnDelete:hover{
    background-color: rgb(218, 154, 154); 
    border-radius: 8px;
    padding: 3px 5px;
}